:root {
    --selected-underline-bar-left-value: 150px;
  }

.body-inner{
    position: absolute;
    width: 90vw;
    height: 90vh;
    background: #011627;
    border: 1px #1e2d3d solid;
    border-radius: 8px;
}

.header-container{
    display: flex;
    flex-direction:row;
    position: relative;
    width: 90vw;
    height: 55px;
}

.header-item-left-nointeraction{
    color: #607b96;
    width: 130px;
    height: 55px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 31px;
}

.header-item-left{
    color: #607b96;
    width: 130px;
    height: 55px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 31px;
    transition: 0.3s;
}

.header-item-left:hover{
    border-bottom: 2px solid #fea55f ;
    color: #ffffff;
    width: 130px;
    height: 55px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 31px;
    
}

.header-item-right{
    color: #607b96;
    width: 130px;
    height: 55px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 31px;
    transition: 0.3s;
}

.header-item-right:hover{
    border-bottom: 2px solid #fea55f ;
    color: #ffffff;
    width: 130px;
    height: 55px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 31px;
}

.header-item-inner{
    position: relative;
    font-size: 16px;
    font-family: Fira Code;
    font-weight: 450;
    word-wrap: break-word;
}

.header-item-inner-link{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-decoration: none;
}

.header-item-bar{
    width: 55px;
    height: 0px;
    top: 0;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px #1e2d3d solid;
}

.header-item-underline{
    width: 0px;
    height: 90vw;
    left: 0px;
    top: 60px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border-radius: 40px;
    border: 1px #1e2d3d solid;
}

@media only screen and (max-width: 899px) {
    .header-container {
        display: flex;
        flex-direction:column;
        position: relative;
        width: 90vw;
        height: 90vh;
        /* flex-wrap: wrap; */
        justify-content: flex-start;
        align-items: center;
    }
    .header-item-left-nointeraction, .header-item-left, .header-item-right{
         justify-content: center;
         align-items: center;
         padding-left: 0;
         padding-right: 0;
        margin-left:auto!important;
        margin-right:auto!important;
        transition: 0.3s;
        border-bottom: 1px #1e2d3d solid;
        width: 90vw;
    }
    .header-item-left:hover, .header-item-right:hover{
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
       margin-left:auto!important;
       margin-right:auto!important;
       border-bottom: 2px #fea55f solid;
        width: 90vw;
    }
    .header-item-bar{
        display: none;
    }
    .header-item-underline{
        display: none;
    }
    
  }
  